body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.app main {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.app {
  display: flex;
  position: relative;
}
